<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>
    <section>
        <table>
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Delivery Address</th>
                <th>Chocolate</th>
                <th>Milk</th>
                <th>Eggs Total</th>
                <th>Shipping Charges</th>
                <th>Sub Total</th>
                <th>Tax</th>
                <th>Total</th>
            </thead>
            <tbody>
                <%
                    for (var order of orders){%>
                <tr>
                    <td><%= order.name %></td>
                    <td><%= order.email %></td>
                    <td><%= order.phone %></td>
                    <td><%= order.deliveryAddress %></td>
                    <td><%= order.chocolate %></td>
                    <td><%= order.milk %></td>
                    <td><%= order.eggs %></td>
                    <td><%= order.shippingCharges %></td>
                    <td>$<%= order.subTotal.toFixed(2) %></td>
                    <td>$<%= order.tax.toFixed(2) %></td>
                    <td>$<%= order.total.toFixed(2) %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </section>
</body>
<%- include('layouts/footer'); -%>