<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>
    <section class="w50">
        <div class="formData">
            <p>This webpage was built using the following technologies:</p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JS</li>
                <li>Node.js</li>
                <li>Express</li>
                <li>EJS</li>
                <li>MongoDB</li>
            </ul>
        </div>
    </section>
    <section class="w50">
        <div class="formData">
            <p>Built By:</p>
            <ul>
                <li><%= name %></li>
                <li> <%= studentNumber %></li>
            </ul>
        </div>
    </section>
<div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>