<%- include ('layouts/header')-%>

  <body>
    <%- include ('layouts/nav')-%>
      <section class="w50">
        <form name="myform" method="Post" onsubmit="return formSubmit();" action="">
          <label>Name</label>
          <input id="name" placeholder="First Last" type="text" name="name"><br />

          <label>Email</label>
          <input id="email" placeholder="email@domain.com" type="email" name="email"><br />

          <label>Phone</label>
          <input id="phone" placeholder="1231231234" type="phone" name="phone"><br />

          <label>Unit Number</label>
          <input id="unit" placeholder="#1234" type="text" name="unit"><br />

          <label>Street Name</label>
          <input id="street" placeholder="xyz street" type="text" name="street"><br />

          <label>City</label>
          <input id="city" placeholder="city name" type="text" name="city"><br />

          <label>Province</label>
          <select name="province" id="province">
            <option value="">----- Select -----</option>
            <option value="Alberta">Alberta</option>
            <option value="British Columbia">British Columbia</option>
            <option value="Manitoba">Manitoba</option>
            <option value="New Brunswick">New Brunswick</option>
            <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
            <option value="Northwest Territories">Northwest Territories</option>
            <option value="Nova Scotia">Nova Scotia</option>
            <option value="Nunavut">Nunavut</option>
            <option value="Ontario">Ontario</option>
            <option value="Prince Edward Island">Prince Edward Island</option>
            <option value="Quebec">Quebec</option>
            <option value="Saskatchewan">Saskatchewan</option>
            <option value="Yukon">Yukon</option>
          </select><br /><br />

          <label>Post Code</label>
          <input id="postcode" placeholder="X9X 9X9" type="postcode" name="postcode"><br />
          <br />

          <h3>Place your order here!!</h3>
          <!-- Shopping items -->
          <label>Chocolates ($2)</label>
          <input id="chocolate" placeholder="10" type="text" name="chocolate"><br />

          <label>Milk ($4)</label>
          <input id="milk" placeholder="10" type="text" name="milk"><br />

          <label>Eggs ($6)</label>
          <input id="eggs" placeholder="10" type="text" name="eggs"><br />

          <label>Delivery Time:</label>
          <select name="delivery" id="delivery">
            <option value="">----- Select -----</option>
            <option value="1 Days">1 Days</option>
            <option value="2 Days">2 Days</option>
            <option value="3 Days">3 Days</option>
            <option value="4 Days">4 Days</option>
            <option value="5 Days">5 Days</option>
          </select><br /><br />

          <input type="submit" value="Place Order">
          <p id="errors"></p>
        </form>
      </section>
      <section class="w50">
        <div class="formData">
          <% if (typeof(errors) !='undefined' ) { for (let error of errors) { %>
            <p class='errors'>
              <%= error.msg %>
            </p>
            <% } } %>

              <% if(typeof(minimumPurchase) !='undefined' ){%>
                <p class="errors">
                  <%= minimumPurchase %>
                </p>
                <% } %>

                  <% if (typeof(total) !='undefined' ) { %>
                    <p id="formResult">Your Receipt:</p>
                    <table>
                      <tr>
                        <th>Name: </th>
                        <td>
                          <%= name %>
                        </td>
                      </tr>
                      <tr>
                        <th>Email: </th>
                        <td>
                          <%= email %>
                        </td>
                      </tr>
                      <tr>
                        <th>Phone: </th>
                        <td>
                          <%= phone %>
                        </td>
                      </tr>
                      <tr>
                        <th>Delivery Address: </th>
                        <td>
                          <%= deliveryAddress %>
                        </td>
                      </tr>
                      
                      <table class="items">
                        <%- itemsPurchased %>
                      </table>
                    </table>
                    <% } %>
        </div>
      </section>
      <div class="clear"></div>
  </body>
  <%- include ('layouts/footer')-%>